.navbar {
    background-color: beige ;
}
body {
    background-image: url("img4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 753px;
}
.navbar-brand {
    font-size: 40px;
    padding: 0px;
    border: 0px;
    margin: 0px;
    font-family: manuel;
}
.navbar-item{
    font-size: 20px;
    padding: 20px
}
#navbar1 {
background-color: beige ;
}
.container-fluid{
    background-color: beige ;
}
.navbar navbar-expand-lg bg-body-tertiary {
    background-color: beige ;
}
/* end of nav bar css */

.card-img1 {
    height: 300px;
    /* padding: 50px; */
    width: fill;
    border-radius: 8px;
    overflow: hidden;
}

.card text-bg-dark {
    height: 300px;
    padding: 50px;
    margin: 40px;
    width: fill;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}